{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MI Coronavirus Cases</title>
    <link rel="stylesheet" href="{% static 'mi/mi_map.css' %}">
</head>
<body>
<aside>
    <h2 class="main-title">MI COVID-19 Tracker</h2>
    <h3 id="case-total"></h3>
    <h3 id="death-total"></h3>

    <div id="slider-type-dates">
        <label for="date-type-select">Total Type:</label>
        <select name="date-type" id="date-type-select" onchange="getData(); getLineData()">
            <option value="total" selected>Cumulative</option>
            <option value="date">Individual</option>
        </select>
    </div>
    <button id="progress-btn" onclick="showProgression()">Show Progression</button>
    {#TODO: Date Picker Widget#}
    <p>
        <a href="https://www.linkedin.com/in/rob-nemeth" target="_blank"><img src="{% static 'mi/li_logo.png' %}" alt="LinkedIn"></a>
        <a href="https://www.twitter.com/niftyRob" target="_blank"><img src="{% static 'mi/twitter_logo.svg' %}" alt="Twitter"></a>
    </p>
    <a href="https://www.michigan.gov/coronavirus/" target="_blank">Data from MIDHHS</a>
    <p>Numbers taken at time of daily update, changes may occur over time</p>
    <p></p>
    {#        <div id="slider-type-ticks">#}
    {#            <label for="slider-tick-select">Show Ticks as:</label>#}
    {#            <select name="slider-tick" id="slider-tick-select" onchange="setSlider()">#}
    {#                <option value="date" selected>Date</option>#}
    {#                <option value="day">Day #</option>#}
    {#            </select>#}
    {#            <br>#}
    {#            <br>#}
    {#        </div>#}
</aside>
<main>
    <div class="main-div">
        <div id="map-div"></div>
        <div id="date-grid">
            <div>
                <button id="first-btn" onclick="firstDate()"><<</button>
                <button id="prev-btn" onclick="backDate()"><</button>
            </div>
            <h2 id="current-date"></h2>
            <div>
                <button id="next-btn" disabled onclick="nextDate()">></button>
                <button id="last-btn" disabled onclick="lastDate()">>></button>
            </div>
        </div>
        <div id="line-div">
            <div class="county-add-div">
                <label for="county-select"></label>
                <select name="county-select" id="county-select">
                    <option value="All">All</option>
                </select>
                <button onclick="getLineData()">Add County</button>
                <button onclick="resetLineChart()">Reset</button>
{#                <label for="cases-chk">Cases</label><input type="checkbox" id="cases-chk" checked>#}
{#                <label for="death-chk">Deaths</label><input type="checkbox" id="death-chk" checked>#}
            </div>
        </div>
    </div>
</main>
</body>
<script src="{% static 'mi/d3-simple-slider.min.js' %}"></script>
<script src="{% static 'mi/topojson.min.js' %}"></script>
<script src="{% static 'mi/d3.min.js' %}"></script>
<script src="{% static 'mi/d3-tip.min.js' %}"></script>
<script src="{% static 'mi/d3-scale-chromatic.v1.min.js' %}"></script>
<script>
    let topography = {{ data.map_json | safe }};
    let dates = {{ data.dates | safe }};
    let growthUrl = "{% url 'growth-detail' %}";
    let max_date = '{{ data.last_date | safe }}';
    let min_date = '{{ data.first_date | safe }}';
    let jsonUrl = "{% url 'case-detail' %}";
    let lineDates = {{ data.date_totals | safe }};
    let c_lineDates = {{ data.c_date_totals | safe }};
    let countyList ={{ data.counties | safe }};
</script>
<script src="{% static 'mi/mi_map.js' %}"></script>
</html>