{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MI Coronavirus Cases</title>
    <link rel="stylesheet" href="{% static 'mi/mi_map.css' %}">
</head>
<body>
    <aside>
        <h2 class="main-title">MI COVID-19 Tracker</h2>
        <h3 id="case-total"></h3>
        <h3 id="death-total"></h3>
        <div id="slider-type-dates">
            <label for="date-type-select">Total Type:</label>
            <select name="date-type" id="date-type-select" onchange="getData()">
                <option value="total" selected>Cumulative</option>
                <option value="date">Individual</option>
            </select>
        </div>
        <p>© 2020 Rob Nemeth</p>
        <a href="https://www.michigan.gov/coronavirus/" target="_blank">Data from MI DHS</a>
{#        <div id="slider-type-ticks">#}
{#            <label for="slider-tick-select">Show Ticks as:</label>#}
{#            <select name="slider-tick" id="slider-tick-select" onchange="setSlider()">#}
{#                <option value="date" selected>Date</option>#}
{#                <option value="day">Day #</option>#}
{#            </select>#}
{#            <br>#}
{#            <br>#}
{#        </div>#}
    </aside>
    <main>
        <div class="main-div">
            <div id="map-div"></div>
            <div id="slider-div"></div>
            {#        <div>{{ data.cases }}</div>#}
            {#        <div>{{ data.map_json }}</div>#}
        </div>
    </main>
</body>
    <script src="{% static 'mi/d3-simple-slider.min.js'%}"></script>
    <script src="{% static 'mi/topojson.min.js' %}"></script>
    <script src="{% static 'mi/d3.min.js'%}"></script>
    <script src="{% static 'mi/d3-tip.min.js' %}"></script>
    <script src="{% static 'mi/d3-scale-chromatic.v1.min.js' %}"></script>
    <script>
        let topography = {{ data.map_json | safe }};
        let dates = {{ data.dates | safe }};
                //let case_dates = {{ data.date_cases | safe }};
        let json_url = "{% url 'case-detail' %}";

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let csrfToken = getCookie('csrftoken');

        let jsonUrl = "{% url 'case-detail' %}";
    </script>
    <script src="{% static 'mi/mi_map.js' %}"></script>
</html>